// Color Variables
$baseColor1: #ffffff;
$baseColor2: #e2ddd1;
$mainColor1: #6e551b;
$mainColor2: #3c2f10;
$accentColor: #23460f;
$textColor1: #333333;
$textColor2: #ffffff;
$overlay1: rgba(#3c2410, .3);
$overlay2: rgba(#ffffff, .85);

// Font Variables
$caslon: 'Libre Caslon Text';
$serif: 'Noto Serif JP';
$sans: 'Noto Sans JP';
